.container
  text-align: center

// .hidden-wrapper
//   display: none
//
//   &.visible
//     display: block

img
  width: 100%
  height: auto

/*-----------  Visble Wrapper  -----------*/

.visible-wrapper
  display: flex
  min-height: 100vh
  flex-direction: column

  /*-----------  Navbar  -----------*/

  > .navbar
    flex: 0 0 auto

    img.logo
      width: auto
      height: 1.25em

    .nav-item a
      font-size: 90% !important

  /*-----------  Hero  -----------*/

  > .jumbotron
    color: white
    flex: 1 0 100%
    margin-bottom: 0
    position: relative

    .container
      width: 100%
      max-width: 100%
      margin-top: -3em
      @include center-align()

      .hero-bubbles
        max-width: 28em
        margin-bottom: 3em

      h1, p
        letter-spacing: 0.033em
        @include antialiased()

      p
        opacity: 0.75
        font-size: 90%
        margin: 1em 0 1.33em

      .input-group
        margin: auto
        max-width: 32em

        input
          border: none

      .btn
        padding-left: 2em
        border-left: 1px solid white

      .btn-triangle
        top: 0
        left: -1px
        width: 1rem
        height: 100%
        z-index: 10
        position: absolute

        svg
          display: block

        polygon
          fill: white

  /*-----------  Show More Arrow  -----------*/

  .show-more-arrow
    color: white
    opacity: 0.5
    bottom: 4rem
    text-align: center
    transition: all 0.25s ease-out
    @include horizontal-align()

    &:hover
      opacity: 1
      cursor: pointer

    .icon-down
      width: 2em
      height: 0.67em
      margin: 0 auto
      display: block

    svg
      background: transparent

      path
        stroke: white
        stroke-width: 2
        fill: transparent

/*-----------  Hidden Wrapper  -----------*/

.hidden-wrapper
  background-color: $brand-primary

  section
    overflow: hidden
    position: relative

    .section-spacer
      width: 100%
      height: 7vw
      display: block

      svg
        width: 120%
        height: 100%
        margin-left: -10%
        background: transparent

        path
          stroke-width: 7
          stroke-linejoin: miter

    .container
      z-index: 100
      padding: 8em 0
      position: relative

      .row > div
        text-align: center

        img
          max-width: 18em
          margin: 0 auto 2.5em

    /*-----------  Marketing Section  -----------*/

    &#marketing
      background: white

      .section-spacer

        path
          fill: $brand-primary
          stroke: $brand-info

      h3
        max-width: 30em
        margin: 0 auto 2em

      .row > div
        padding: 0 1em

        p
          font-size: 90%
          max-width: 16em
          margin: 1em auto 0
          color: $brand-primary

        span
          margin: 0 0.25em
          border-bottom: 1px solid $gray-dark

    /*-----------  Trial Section  -----------*/

    &#trial
      color: white

      .section-spacer

        path
          fill: white
          stroke: $brand-info

        &:last-child
          margin-bottom: -1px

      .container

    /*-----------  Emails Section  -----------*/

    &#emails
      background-color: white

      .btn
        box-shadow: 0 0 1em 0.33em rgb(255, 255, 255)

      &:before,
      &:after
        left: 0
        width: 100%
        height: 3em
        content: ''
        z-index: 500
        display: block
        position: absolute
        background: transparent

      &:before
        top: 0
        background-image: linear-gradient(white, transparent)

      &:after
        bottom: 0
        background-image: linear-gradient(transparent, white)

      /*-----------  Scrolling BG  -----------*/

      $x-spacer: 25
      $y-spacer: 50

      .bg-scroller
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 0
        position: absolute

      @for $i from 1 through 6
        $x-offset: $x-spacer * $i
        $y-offset: $y-spacer * $i
        $time-offset: (random(35) + 15) / 10

        @keyframes animatedBackground#{$i}
          from
            background-position: unquote($x-offset+'px') unquote($y-offset+'px')
          to
            background-position: unquote($x-offset+'px') unquote(($y-offset + ($y-spacer * 2))+'px')

        .bg-scroller:nth-child(#{$i})
          animation: animatedBackground#{$i} unquote($time-offset+'s') linear infinite
